/* body{
  justify-content: center;
  display: flex;
  align-items: center;
  width: 90%;
  background-color: red;
} */


.parent-container{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  background-color: red; 
  /* please bg color hata dena end mei  */
  height: 100vh;
}

.search-container{
  padding-top: 10vh;
}